
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body>header{
    background-color: rgb(56, 53, 53);
    padding: 16px 0;
    color: wheat;
}
header .container{
display: flex;
align-items: center;
justify-content: space-between;
}
header li{
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;

}
header li a{
    color: wheat;
    text-decoration: none;
    margin-left: 16px;
}
.container{
    width: 1366px;
    margin: 0 auto;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 700;
}
.articles article img{
    width: 100%;
}
.articles article{
    width: 30%;
}
section{
    padding: 16px;
}
section h2,
.articles article{
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}
.articles article a{
    background-color: blue;
    color:white;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    margin-top: 8px;
}
.articles article a:hover{
    text-decoration: underline;
}
.articles article p,
.articles article a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.articles article h3{
    font-size: 24px;
}
section h2{
    font-size: 32px;
}
#sport{
    background-color: rgb(138, 189, 189);
}
#sport .articles article a{
    background-color: rgb(32, 97, 97);
}
#economy{
    background-color: rgb(202, 151, 114);
}
#economy .articles article a{
    background-color: rgb(78, 49, 28);
}
#comida{
    background-color: rgb(214, 102, 102);
}
#comida .articles article a{
    background-color: brown;
}
#tecnologia{
    background-color: rgb(142, 107, 238);
}
#tecnologia .articles article a{
    background-color: rgb(33, 21, 66);
}