*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1920px;
    min-width: 600px;
}
header{
    font-family: 'Russo One', sans-serif;
    background-color: #5C6D70;
    padding: 20px 0;
    color:#dadada ;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-bottom:solid 16px #383a37 ;
}
header h1{
    font-size: 50px;
    letter-spacing: 2.5px;
    margin-right:16px;
}
header button{
padding: 2px 8px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border: none;
background-color:#424e50;
cursor: pointer;
}
header button:hover{
    border: solid 2px #dadada;
}
header img{
    width: 45px;
}
.mais{
    width: 32px;
    margin-bottom: 8px;
    margin-left: 5px;
}
form{
    font-family: 'Lato', sans-serif;
    background-color:#484A47 ;
    padding: 32px;
    text-align: center;
    display: none;
    border-top: solid 16px;
    border-bottom: solid 16px;
    border-color: #383a37;
}
form input,button{
padding: 24px;
border-radius: 5px;
border: none;
}
form h2{
    margin-bottom: 16px;
    color: #dadada;
    font-size: 40px;
}
button{
    cursor: pointer;
    background-color: #2BC016;
    color: #dadada;
}
#cancelar{
    background-color: #ED1C24;
}
ul{
    background-color: #5C6D70;
    padding: 20px;
}
li{
    color: #dadada;
    list-style: none;
    padding: 16px;
    border-bottom: solid ;
}
.colocalinha{
    text-decoration: line-through;
}

